* {
  box-sizing: boder-box;
}

:root {
  /* fonts */
  --body-open-sans: 'Open Sans', sans-serif;
  --heading: 'Poppins', sans-serif;
  /* colors */
  --violet: #674baf;
  --violete-light: #e5d9f9;
  --soft-Magenta: #e882e8;
  --white: #fff;
}

body {
  margin: 0;
  font-family: var(--body-open-sans);
  color: var(--white);
  background-color: var(--violet);
  background-image: url(./images/bg-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
p {
  margin: 0;
}

h1 {
  font-size: clamp(1.5rem, 6vw, 2.5rem);
  font-family: var(--heading);
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.text {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: var(--violete-light);
  line-height: 1.5;
}

button {
  cursor: pointer;
  padding: 1em 4em;
  border-radius: 5rem;
  border: 2px solid hsl(257, 40%, 39%);
  box-shadow: 0px 7px 7px hsl(257, 40%, 39%);
  background-color: var(--white);
  color: var(--violet);
  font-size: 1rem;
  font-family: var(--heading);
  transition: 0.2s;
}

button:hover {
  background-color: var(--soft-Magenta);
  color: var(--white);
}

img {
  max-width: 100%;
  display: flex;
}

.container {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

header {
  padding-top: 3em;
  padding-bottom: 5em;
}

main {
  display: flex;
  gap: 3.5rem;
}

.logo {
  width: clamp(8rem, 18vw, 14rem);
}

.col-2 {
  max-width: 70ch;
  margin-top: 3rem;
  gap: 3.5rem;
}

.soc {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 3rem;
}

.fa-brands {
  font-size: 1.3rem;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.fa-brands:hover {
  color: var(--soft-Magenta);
  border: 1px solid var(--soft-Magenta);
}

footer {
  padding-top: 1.5em;
  padding-bottom: 0.6875em;
}

/* attribution section */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--soft-Magenta);
}

/* media queries */

@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1201px) {
  body {
    background-image: url('./images/bg-mobile.svg');
    text-align: center;
    background-size: contain;
  }

  .container {
    padding-left: 3em;
    padding-right: 3em;
  }

  header {
    padding-top: 2em;
    padding-bottom: 3.5rem;
  }

  main {
    flex-direction: column;
    gap: 1rem;
  }

  .col-2 {
    margin-left: auto;
    margin-right: auto;
  }

  button {
    margin-bottom: 2rem;
  }

  .soc {
    justify-content: center;
    margin-bottom: 2rem;
  }
}

@media (max-width: 426px) {
  .container {
    padding-left: 2.2em;
    padding-right: 2.2em;
  }

  h1 {
    margin-bottom: 1rem;
  }

  button {
    padding: 0.7em 5.5em;
    font-size: 0.8rem;
    box-shadow: 0px 3px 3px hsl(257, 40%, 39%);
  }

  .soc {
    gap: 0.7rem;
  }

  .fa-brands {
    font-size: 0.8rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}
